{% extends 'base.html' %}

{% block content %}

    <section class="container col-8">
        <div class="container mt-2 p-3">
            <h1> Hello {{ user }}</h1>
            <h2 class="text-center p-3"> Your next sessions</h2>
            <div class="table-responsive">
                <table class="table table-dark table-striped table-bordered">
                    <thead>
                    <tr>
                        <td>Date</td>
                        <td>Starts at</td>
                        <td>Ends at</td>
                        <td>Status</td>
                        <td>Student</td>
                        <td>Lesson Plan</td>
                        <td>Subject</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for lesson in next_lessons %}
                        <tr>
                            <td>{{ lesson.date|date:'d/m/Y' }}</td>
                            <td>{{ lesson.start|time }}</td>
                            <td>{{ lesson.end }}</td>
                            <td>
                                {% if lesson.canceled %}
                                    Canceled
                                {% else %}
                                    Booked
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'student_detail' lesson.student.id %}">
                                {{ lesson.student }}
                                </a>
                            </td>
                            <td>
                                {% if lesson.lesson_plan %}
                                    {{ lesson.lesson_plan.title }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td>
                                {% if lesson.subject %}
                                    {% for subject in lesson.subject.all %}
                                        {{ subject.name }}
                                        {% if not forloop.last %}
                                            ,
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </section>
{% endblock %}