{% extends 'base.html' %}

{% block content %}
    {% load widget_tweaks %}
    <section class="container col-8">
        <div class="container mt-2">
            <h1>Register</h1>
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                {% for field in register_form.visible_fields %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:'form-control' }}
                    </div>
                    {% for error in field.errors %}
                        <section class="alert alert-danger" role="alert">
                            {{ field.errors }}
                        </section>
                    {% endfor %}
                {% endfor %}
                <button type="submit" class="btn btn-success mt-3">Register</button>
            </form>
        </div>
    </section>
{% endblock %}