{% extends 'base.html' %}

{% block content %}

    <section class="container col-8">
        <div class="container mt-2">
            <div class="row p-3">
                <div class="col-8">
                    <h1> My Student list</h1>
                </div>
                <div class="col-4 align-self-center d-flex flex-row-reverse">
                    <button class="btn btn-primary" onclick="location.href='{% url 'register_student' %}'">
                        Add new student
                    </button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-dark table-striped table-bordered">
                    <thead>
                    <tr>
                        <td>Email</td>
                        <td>First Name</td>
                        <td>Last name</td>
                        <td>Level</td>
                        <td>Profile</td>
                    </tr>
                    </thead>
                    <tbody>

                    {% for student in students %}
                        <tr>
                            <td>{{ student.email }}</td>
                            <td>{{ student.first_name }}</td>
                            <td>{{ student.last_name }}</td>
                            <td>{{ student.level }}</td>
                            <td>
                                <button class="btn btn-info" type="submit"
                                        onclick="location.href='{% url 'student_detail' student.id %}'">Profile
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </section>
{% endblock %}