{% extends 'base.html' %}
{% block content %}
    {% load widget_tweaks %}

    <section class="container col-8">
        <div class="container mt-2">
            <h1>Create a new Lesson Plan</h1>

            <form action="{% url 'create_lesson_plan' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <div class="row">
                    <div class="form-group mb-2">
                        <label for="{{ create_form.title.id_for_label }}">{{ create_form.title.label }}</label>
                        {{ create_form.title|add_class:'form-control' }}
                    </div>
                    {{ create_form.level.title }}
                </div>

                <div class="row">
                    <div class="form-group mb-2">
                        <label for="{{ create_form.lesson_link.id_for_label }}">{{ create_form.lesson_link.label }}</label>
                        {{ create_form.lesson_link|add_class:'form-control' }}
                    </div>
                    {{ create_form.lesson_link.error }}
                </div>
                <div class="row">
                    <div class="form-group mb-2">
                        <label for="{{ create_form.levels.id_for_label }}">{{ create_form.levels.label }}</label>
                        {{ create_form.levels|add_class:'' }}
                    </div>
                    {{ create_form.level.error }}
                </div>
                <div class="row">
                    <div class="form-group mb-2">
                        <label class="form-select-label" for="lesson">Choose the session you want to associate this
                            lesson plan to:</label>
                        <select class="form-select" name="lesson_id" id="lesson_id">
                            <option value="" selected>Choose your session</option>
                            {% for lesson in lessons %}
                                <option value="{{ lesson.id }}">{{ lesson }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group-inline mb-2">
                        <label for="{{ create_form.private.id_for_label }}">{{ create_form.private.label }}</label>
                        {{ create_form.private|add_class:'checkbox' }}
                        {{ create_form.private.error }}
                    </div>
                </div>
                {% for s in stages %}
                    <div class="row">
                        <div class="form-group-inline mb-2">
                            <label for="stage{{ forloop.counter }}">Stage {{ forloop.counter }}</label>
                            <textarea class="form-control" name="stages[]">{{ s }}</textarea>
                        </div>
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-success">Create</button>
            </form>
        </div>
    </section>


{% endblock %}